/Cyrez.SqliteUtil/obj
/Cyrez.SqliteUtil/bin
/Cyrez.UI/obj
/Cyrez.UI/bin
/Cyrez.Graphics/obj
/Cyrez.Graphics/bin
/MapKit.Core/obj
/MapKit.Core/bin
/Debug
/MapKit.GisLite/obj
/MapKit.GisLite/bin
/MapKit.Spatialite/obj
/MapKit.Spatialite/bin
/MapKit.Demo/bin
/MapKit.Demo/obj
/MapKit.UI/bin
/MapKit.UI/obj
/Cyrez.SqliteUtil/*.user
/.vs
