[submodule "FleeSharp"]
	path = FleeSharp
	url = https://github.com/netgrim/FleeSharp.git
[submodule "NetTopologySuite"]
	path = NetTopologySuite
	url = https://github.com/Netgrim/NetTopologySuite.git
[submodule "GeoAPI"]
	path = GeoAPI
	url = https://github.com/NetTopologySuite/GeoAPI.git
[submodule "SVG"]
	path = SVG
	url = https://github.com/vvvv/SVG.git
